.tituloModal1-1 {
    color: rgb(255, 0, 106);

    margin-bottom: 4px;
}

.subtituloModal1 {
    color: rgba(245, 179, 223, 0.499);

    margin-top: 0;
    line-height: 1.3;
}

#modal1,
#modal2,
#modal3 {
    display: none;

    width: min(96vw, 510px);

    background: #12034d8f;

    border-radius: 12px;
    padding: 20px;

    height: auto;
    max-height: none;
    /* troca aqui */

    overflow: hidden;

    animation: surgirDoBotao .3s ease;
}

.botaoFechar {
    display: block;
    margin-left: auto;
    margin-bottom: 10px;

    background: none;
    border: none;

    color: #fde69c;
    font-size: 22px;
    cursor: pointer;
}


.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;

    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, .6);
    z-index: 10;
}

.containerModal1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;

}

.tituloModal1 {
    color: #8cff00;
    font-family: "Oxanium", sans-serif;

}


.terminal-window {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    border-radius: 8px;
    font-size: 14px;
    width: min(100%, 420px);
    min-height: 200px;
    height: auto;
    overflow: hidden;

    margin-bottom: 20px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

    transition: .4s ease;
}

.terminal-window.expandido {
    height: auto;
    min-height: 300px;

}

.terminal-body {
    max-height: none;
    overflow: visible;
    margin-bottom: 20px;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 8px;
    white-space: nowrap;
    color: #0f0;
    font-size: 13px;
}

#terminal-input1,
#terminal-input2,
#terminal-input3 {
    background-color: transparent;
    border: none;
    color: #0f0;
    font-family: inherit;
    font-size: 13px;
    outline: none;
    flex: 1;
    min-width: 0;
    padding: 0;
}